.idea/
*.iml
*.log
target/
.DS_Store
.project
.classpath
.settings
.metadata
target
logs
.idea
*.iml
*.log
.logs
*.iws
*.classpath
.DS_Store
*.patch
~$*
services.img
backup/img/
docker-data/*
backup/jenkins/