.idea/
*.iml
*.log
target/
.DS_Store
.project
.classpath
.settings
.metadata
target
logs
.idea
*.iml
*.log
.logs
*.iws
*.classpath
.DS_Store
*.patch
~$*
jenkins
openresty
redmine
mysql
redis
tomcat
emq
services.img
gogs
thingsboard
